@model List<tl2_tp4_2022_loboser.ViewModels.ClienteViewModel>
@{
    ViewData["Title"] = "Asignar A Cliente";
}

<body>
    <header>
        <h1>@ViewData["Title"] </h1>
    </header>
    <main>
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Datos de referencia</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Cliente in Model)
                {
                    <tr>
                    <td>@Cliente.Id</td>
                    <td>@Cliente.Nombre</td>
                    <td>@Cliente.Telefono</td>
                    <td>@Cliente.Direccion</td>
                    <td>@Cliente.DatosReferenciaDireccion</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="AsignarPedidoACliente" asp-route-nro="@ViewBag.Nro" asp-route-id="@Cliente.Id" asp-route-aux="@ViewBag.Aux">Asignar el Pedido</a>
                    </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-danger btn-sm" asp-controller="Pedido" asp-action="AsignarPedidoACliente" asp-route-nro="@ViewBag.Nro" asp-route-id="0" asp-route-aux="@ViewBag.Aux">Desasignar el Pedido</a>
    </main>
</body>