@model List<tl2_tp4_2022_loboser.ViewModels.PedidoViewModel>

@{
    ViewData["Title"] = "Lista De Pedidos";
    List<tl2_tp4_2022_loboser.ViewModels.PedidoViewModel> asignado = Model.Where(t => t.IdCadete != 0).ToList();
    List<tl2_tp4_2022_loboser.ViewModels.PedidoViewModel> sinAsignar = Model.Where(t => t.IdCadete == 0).ToList();
}

<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <main>
        @if (asignado.Count()>0)
        {
            <section>
                <article>
                    <h2>Pedidos Asignados</h2>
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Nro</th>
                                <th>Observacion</th>
                                <th>Nombre del cliente</th>
                                <th>Direccion</th>
                                <th>Datos referencia direccion</th>
                                <th>Nombre del cadete asignado</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Pedido in asignado)
                            {
                                @if (Pedido.IdCadete != 0 && Pedido.ClienteId != 0)
                                {
                                    <tr>
                                        <td>@Pedido.Nro</td>
                                        <td>@Pedido.Obs</td>
                                        <td>@Pedido.ClienteNombre</td>
                                        <td>@Pedido.ClienteDireccion</td>
                                        <td>@Pedido.ClienteDatosReferenciaDireccion</td>
                                        <td>@Pedido.NombreCadete</td>
                                        <td>@Pedido.Estado</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="CambiarEstado" asp-route-nro="@Pedido.Nro" asp-route-aux="Lista">Cambiar Estado</a>
                                            <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="EditarPedido" asp-route-nro="@Pedido.Nro" asp-route-aux="Lista">Editar</a>
                                            <a class="btn btn-danger btn-sm" asp-controller="Pedido" asp-action="AsignarPedido" asp-route-nro="@Pedido.Nro" asp-route-aux="Lista">Desasignar</a>
                                            <a class="btn btn-danger btn-sm" asp-controller="Pedido" asp-action="BajaPedido" asp-route-nro="@Pedido.Nro" asp-route-aux="Lista">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </article>
            </section>
        }
        @if (sinAsignar.Count()>0)
        {
            <section>
                <article>
                    <h2>Pedidos sin Asignar</h2>
                    <table class="table table-bordered table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>Nro</th>
                                <th>Observacion</th>
                                <th>Nombre del cliente</th>
                                <th>Direccion</th>
                                <th>Datos referencia direccion</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var Pedido in sinAsignar)
                            {
                                if (Pedido.IdCadete == 0 && Pedido.ClienteId != 0)
                                {
                                    <tr>
                                        <td>@Pedido.Nro</td>
                                        <td>@Pedido.Obs</td>
                                        <td>@Pedido.ClienteNombre</td>
                                        <td>@Pedido.ClienteDireccion</td>
                                        <td>@Pedido.ClienteDatosReferenciaDireccion</td>
                                        <td>@Pedido.Estado</td>
                                        <td>
                                            <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="CambiarEstado" asp-route-nro="@Pedido.Nro" asp-route-aux="Lista">Cambiar Estado</a>
                                            <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="EditarPedido" asp-route-nro="@Pedido.Nro" asp-route-aux="Lista">Editar Pedido</a>
                                            <a class="btn btn-danger btn-sm" asp-controller="Pedido" asp-action="BajaPedido" asp-route-nro="@Pedido.Nro" asp-route-aux="Lista">Eliminar</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </article>
            </section>
        }
    </main>
</body>