@model List<tl2_tp4_2022_loboser.ViewModels.PedidoViewModel>

@{
    ViewData["Title"] = "Lista De Pedidos";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Pedidos Asignados</h2>
    <table>
        <tr>
        <td>Nro</td>
        <td>Nombre Del Cliente</td>
        <td>Observacion</td>
        <td>Direccion</td>
        <td>Datos Referencia Direccion</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var Pedido in Model)
    {
        if (Pedido.idCadeteAsignado != 0)
        {
            <tr>
            <td>@Pedido.Nro</td>
            <td>@Pedido.Cliente.Nombre</td>
            <td>@Pedido.Obs</td>
            <td>@Pedido.Cliente.Direccion</td>
            <td>@Pedido.Cliente.DatosReferenciaDireccion</td>
            <td><a href="BajaPedido?nro=@Pedido.Nro">Eliminar</a></td>
            <td><a href="EditarPedido?nro=@Pedido.Nro">Editar</a></td>
            <td><a href="AsignarACadete?nro=@Pedido.Nro">Asignar A Cadete</a></td>
            <td><a href="AsignarACliente?nro=@Pedido.Nro">Asignar A Cliente</a></td>
            </tr>
        }
    }
    </table>
</div>

<div>
    <h2>Pedidos Sin Asignar</h2>
    <table>
        <tr>
        <td>Nro</td>
        <td>Nombre Del Cliente</td>
        <td>Observacion</td>
        <td>Direccion</td>
        <td>Datos Referencia Direccion</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var Pedido in Model)
    {
        if (Pedido.idCadeteAsignado == 0)
        {
            <tr>
            <td>@Pedido.Nro</td>
            <td>@Pedido.Cliente.Nombre</td>
            <td>@Pedido.Obs</td>
            <td>@Pedido.Cliente.Direccion</td>
            <td>@Pedido.Cliente.DatosReferenciaDireccion</td>
            <td><a href="BajaPedido?nro=@Pedido.Nro">Eliminar</a></td>
            <td><a href="EditarPedido?nro=@Pedido.Nro">Editar</a></td>
            <td><a href="AsignarACadete?nro=@Pedido.Nro">Asignar A Cadete</a></td>
            <td><a href="AsignarACliente?nro=@Pedido.Nro">Asignar A Cliente</a></td>
            </tr>
        }
    }
    </table>
</div>