@model List<tl2_tp4_2022_loboser.ViewModels.PedidoViewModel>
@{
    ViewData["Title"] = "VerPedidosClientes";
}

<h1>Ver Pedidos del Cliente @ViewBag.Nombre</h1>

<div align="center" style="text-align:center">
    <table align="center">
        <tr>
        <td>Nro</td>
        <td>Observacion</td>
        <td>Nombre Cadete Asignado</td>
        <td>Estado</td> 
        <td></td>
    </tr>
    @foreach (var Pedido in Model)
    {
        <tr>
        <td>@Pedido.Nro</td>
        <td>@Pedido.Obs</td>
        <td>@Pedido.NombreCadeteAsignado</td>
        <td>@Pedido.Estado</td>
        <td><a href="../../Pedido/CambiarEstado?nro=@Pedido.Nro&aux=Cliente">Cambiar estado</a></td>
        </tr>
    }
    </table>
</div>