@model List<tl2_tp4_2022_loboser.ViewModels.PedidoViewModel>
@{
    ViewData["Title"] = "Pedidos";
}

<h1>@ViewData["Title"] de @ViewBag.Nombre</h1>

<div align="center" style="text-align:center">
    <table align="center">
        <tr>
        <td>Nro</td>
        <td>Nombre</td>
        <td>Observacion</td>
        <td>Direccion</td>
        <td>Datos de referencia</td>
        <td>Estado</td>
        <td></td>
    </tr>
    @foreach (var Pedido in Model)
    {
        <tr>
        <td>@Pedido.Nro</td>
        <td>@Pedido.Obs</td>
        <td>@Pedido.ClienteNombre</td>
        <td>@Pedido.ClienteDireccion</td>
        <td>@Pedido.ClienteDatosReferenciaDireccion</td>
        <td>@Pedido.Estado</td>
        <td><a href="../../Pedido/CambiarEstado?nro=@Pedido.Nro&aux=Cadete">Cambiar estado</a></td>
        </tr>
    }
    </table>
</div>