@model List<tl2_tp4_2022_loboser.ViewModels.CadeteViewModel>

@{
    ViewData["Title"] = "Lista de cadetes";
}

<div align="center" style="text-align:center">
    <h1>@ViewData["Title"] </h1>
    <h2>@ViewBag.NombreCadeteria +@ViewBag.TelefonoCadeteria</h2>
    <table align="center">
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Direccion</td>
            <td>Telefono</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    @foreach (var Cadete in Model)
    {
        <tr>
        <td>@Cadete.Id</td>
        <td>@Cadete.Nombre</td>
        <td>@Cadete.Direccion</td>
        <td>@Cadete.Telefono</td>
        <td><a href="../Cadeteria/BajaCadete?id=@Cadete.Id">Eliminar</a></td>
        <td><a href="../Cadeteria/EditarCadete?id=@Cadete.Id">Editar</a></td>
        <td><a href="../Pedido/VerPedidos?id=@Cadete.Id">Ver Pedidos</a></td>
        </tr>
    }
    </table>
</div>