@model List<tl2_tp4_2022_loboser.ViewModels.PedidoViewModel>
@{
    ViewData["Title"] = "Pedidos";
}

<body>
    <header>
        <h1>@ViewData["Title"] de @ViewBag.Nombre</h1>
    </header>
    <main>
        <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Observacion</th>
                <th>Direccion</th>
                <th>Datos de referencia</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var Pedido in Model)
        {
            <tr>
                <td>@Pedido.Nro</td>
                <td>@Pedido.Obs</td>
                <td>@Pedido.ClienteNombre</td>
                <td>@Pedido.ClienteDireccion</td>
                <td>@Pedido.ClienteDatosReferenciaDireccion</td>
                <td>@Pedido.Estado</td>
                <td>
                    <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="CambiarEstado" asp-route-nro="@Pedido.Nro" asp-route-aux="Cadete">Cambiar Estado</a>
                    <a class="btn btn-danger btn-sm" asp-controller="Pedido" asp-action="AsignarPedidoACadete" asp-route-nro="@Pedido.Nro" asp-route-id="0" asp-route-aux="Cadete">Desasignar</a>
                    @if (ViewBag.Rol == "Admin")
                    {
                        <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="AsignarACliente" asp-route-nro="@Pedido.Nro" asp-route-aux="Cadete">Asignar Cliente</a>
                        <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="EditarPedido" asp-route-nro="@Pedido.Nro" asp-route-aux="Cadete">Editar Pedido</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Pedido" asp-action="BajaPedido" asp-route-nro="@Pedido.Nro" asp-route-aux="Cadete">Eliminar</a>
                    }
                </td>
            </tr>
        }
        </table>
    </main>
</body>