@model List<tl2_tp4_2022_loboser.ViewModels.PedidoViewModel>
@{
    ViewData["Title"] = "Tus Pedidos";
}

<body>
    <header>
        <h1>@ViewData["Title"] @ViewBag.Nombre</h1>
    </header>
    <main>
        <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Observacion</th>
                <th>Direccion</th>
                <th>Datos de referencia</th>
                <th>Estado</th>
            </tr>
        </thead>
        @foreach (var Pedido in Model)
        {
            <tr>
                <td>@Pedido.Nro</td>
                <td>@Pedido.Obs</td>
                <td>@Pedido.ClienteNombre</td>
                <td>@Pedido.ClienteDireccion</td>
                <td>@Pedido.ClienteDatosReferenciaDireccion</td>
                <td>@Pedido.Estado</td>
            </tr>
        }
        </table>
    </main>
</body>