@model List<tl2_tp4_2022_loboser.ViewModels.ClienteViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <table>
        <tr>
        <td>Id</td>
        <td>Nombre</td>
        <td>Telefono</td>
        <td>Direccion</td>
        <td>Datos Referencia Direccion</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    @foreach (var Cliente in Model)
    {
        <tr>
        <td>@Cliente.Id</td>
        <td>@Cliente.Nombre</td>
        <td>@Cliente.Telefono</td>
        <td>@Cliente.Direccion</td>
        <td>@Cliente.DatosReferenciaDireccion</td>
        <td><a href="BajaCliente?id=@Cliente.Id">Eliminar</a></td>
        <td><a href="EditarCliente?id=@Cliente.Id">Editar</a></td>
        <td><a href="../Pedido/VerPedidosCliente?id=@Cliente.Id">Ver Pedidos</a></td>
        </tr>
    }
    </table>
</div>