@model tl2_tp4_2022_loboser.ViewModels.EditarUsuarioViewModel
@{
    ViewData["Title"] = "Editar Usuario";
}

<body>
    <header>
        <h1>@ViewData["Title"]</h1>
    </header>
    <main>
        <form asp-controller="Usuario" asp-action="EditarUsuario" method="post">
            <input type="hidden" asp-for="Id" value="@Model.Id">
            <input type="hidden" asp-for="IdCadete" value="@Model.IdCadete">
            <input type="hidden" asp-for="IdCliente" value="@Model.IdCliente">
            <input type="hidden" asp-for="Rol" value="@Model.Rol">
            
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="Nombre">Nombre</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" asp-for="Nombre" value="@Model.Nombre" placeholder="Nombre">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="User">Nombre de Usuario</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" asp-for="User" value="@Model.User" placeholder="Nombre de Usuario">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="Pass">Contrase単a</label>
                <div class="col-sm-6">
                    <input class="form-control" type="pass" asp-for="Pass" value="@Model.Pass" placeholder="Contrase単a">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-3 col-form-label" asp-for="ConfirmPass">Repetir Contrase単a</label>
                <div class="col-sm-6">
                    <input class="form-control" type="pass" asp-for="ConfirmPass" value="@Model.ConfirmPass" placeholder="Repetir Contrase単a">
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-sm-3 col-sm-3 d-grid">
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
                <div class="col-sm-3 d-grid">
                    <input class="btn btn-primary" type="reset" value="Borrar">
                </div>
            </div>
        </form>
    </main>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}